<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5Uy8C4QnktdxnKlpdFi21qJN0z_3LWNI</string>
	<key>GCM_SENDER_ID</key>
	<string>964150228916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etteo.fleetPay</string>
	<key>PROJECT_ID</key>
	<string>fleetpay-b9f98</string>
	<key>STORAGE_BUCKET</key>
	<string>fleetpay-b9f98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964150228916:ios:61540cabdad2ab42dfe4e1</string>
</dict>
</plist>